<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<!-- Aca va el codigo -->
<main>
    <section class="center main-content">
    <h1>Editar perfil</h1>
    <p>Crear el formulario para modificar los datos de perfil de un usuario.</p>
    </section>
</main>

<%- include('./partials/footer.ejs') %> 