<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<!-- Aca va el codigo -->
<main>
    <div class="user-detail container">
        <section class="top main-content">
            <img class="profile" src="https://via.placeholder.com/100x100" alt="">
            <div class="info-usuario">
                <p>Nombre de usuario</p> 
                <a class="follow" href="editarPerfil.html"><i class="fa-solid fa-user-gear"></i></a>
                <ul class="meta">
                    <li>100 post</li>
                    <li>200 seguidores</li>
                    <li>300 seguidos</li>
                </ul>
            </div>
        </section>
        <section class="bottom">
            <article class="post">
                <a href="detallePost.html">
                    <img src="https://via.placeholder.com/200x250" alt="">
                </a>
            </article>
            <article class="post">
                <a href="detallePost.html">
                    <img src="https://via.placeholder.com/200x250" alt="">
                </a>
            </article>
            <article class="post">
                <a href="detallePost.html">
                    <img src="https://via.placeholder.com/200x250" alt="">
                </a>
            </article>
            <article class="post">
                <a href="detallePost.html">
                    <img src="https://via.placeholder.com/200x250" alt="">
                </a>
            </article>
            <article class="post">
                <a href="detallePost.html">
                    <img src="https://via.placeholder.com/200x250" alt="">
                </a>
            </article>
            <article class="post">
                <a href="detallePost.html">
                    <img src="https://via.placeholder.com/200x250" alt="">
                </a>
            </article>
            <article class="post">
                <a href="detallePost.html">
                    <img src="https://via.placeholder.com/200x250" alt="">
                </a>
            </article>
            <article class="post">
                <a href="detallePost.html">
                    <img src="https://via.placeholder.com/200x250" alt="">
                </a>
            </article>
        </section>
    </div>
</main>

<%- include('./partials/footer.ejs') %> 