<%- include('./partials/head.ejs') %>
<% if (locals.user != undefined) { %>
  <%- include('./partials/headerLogueado.ejs') %>
<% } else { %>
  <%- include('./partials/header.ejs') %>
<% }  %> 

<!-- Aca va el codigo -->
<main>
    <section class="center main-content">
    <h1>Registrate!</h1>
    <p>Crear el formulario para registrar un nuevo usuario</p>
    </section>
    <form class="form" method="post" action="/users/registracion" > 
        <div class="form-item">
                <input type="text" name="username" placeholder="Nombre de usuario"> <br>
                <input type="password" name="password" placeholder="Contraseña"> <br>
                <input type="file" name="img" placeholder="Foto de Perfil"> <br>
                <input type="date" name="date" placeholder="Fecha de nacimiento"> <br>
                <input type="text" name="dni" placeholder="documento"> <br>     
                <input type="text" name="email" placeholder="email"> <br>       
        </div>
        <div class="button-panel">
        <input type="submit" class="button" title="Sign Up" value="Registrate"></input>
      </div>

    </form>
    </section>
</main>

<%- include('./partials/footer.ejs') %> 