<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<!-- Aca va el codigo -->
<main>
    <section class="center main-content">
    <h1>Resultados de búsqueda.</h1>
    <p>Construir la vista.</p>
    </section>
</main>

<%- include('./partials/footer.ejs') %> 