<footer class="main-footer">
    <ul class="social">
        <li><a href="" uk-icon="instagram"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="" uk-icon="facebook"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="" uk-icon="twitter"><i class="fa-brands fa-twitter"></i></a></li>
    </ul>
    <ul class="team">
        <!-- agregar links a nuestros perfiles -->
        <li>Valentina Quispe</li>
        <li>Mora Di Pace</li>
        <li>Micaela Schachtl</li>
    </ul>
</footer>