<header class="header">
    <nav class="main-nav">
        <div class="navbar-left">
            <a href="/"><img class="imagenLogo" src="/images/logoGrama.jpg" alt=""></a>
        </div>

        <div class="search">
            <form action="/resultadoBusqueda" method="get" class="search-form">
                <!-- NO SACAR EL BUSQUEDA!!!!!! -->
                <input type="text" name="busqueda" placeholder=" Busca un pie de post" class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>

        </div>

        <div class="navbar-right">
            <ul class="menu">
                <li><a href="/users/registracion">Registro</a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="/products/agregarPost"><i class="fa-regular fa-square-plus"></i></a></li>
                <li><a href="/users/miPerfil/<%= locals.user %>"><i class="fa-regular fa-user"></i></a></li>
                <!-- AGREGAR ID USUARIO ACTIVO CON LOCALS.USER-->
                <li><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
                <li><a href="/users/miPerfil/<%= locals.user%>">
                        <%= locals.user.arroba %> <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <form action="/users/logout" method="post">
                        <button class="logout" type="submit">
                            Cerrar sesion <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </form>
                </li>
            </ul>

        </div>


    </nav>
</header>