<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <a href="../../public/images/logoGrama.jpg"></a>
        </div>
        <div class="navbar-center">
            <form action="" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" class="search-input" placeholder="Buscar...">
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a href="registracion.html">Registro</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="index.html"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="agregarPost.html"><i class="fa-regular fa-square-plus"></i></a></li>
                <li><a href="miperfil.html"><i class="fa-regular fa-user"></i></a></li>
                <li><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
            </ul>
        </div>
    </nav>
</header>